<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <title>{{ site.title }} | {{site.affiliation}}</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  {% if site.keywords %}
  <meta name="keywords" content="{{ site.keywords }}">
  {% endif %}
  {% if site.canonical %}
  <link rel="canonical" href="{{ site.canonical }}"/>
  {% endif %}

  <link rel="icon" media="(prefers-color-scheme:dark)" href="{{ site.favicon_dark }}" type="image/png" />
  <link rel="icon" media="(prefers-color-scheme:light)" href="{{ site.favicon }}" type="image/png" />
  <script src="./assets/js/favicon-switcher.js" type="application/javascript"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/academicons/1.8.6/css/academicons.min.css" integrity="sha256-uFVgMKfistnJAfoCUQigIl+JfUaP47GrRKjf6CTPVmw=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous">
  <link rel="stylesheet" href="./assets/css/style.css">
  <link rel="stylesheet" href="./assets/css/publications.css">
  
  <style>
    .info-box-overlay {
      display: none;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: 999;
    }

    .info-box {
      display: none;
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background:  #B6CEB9;
      color: black;
      width: 300px;
      padding: 20px;
      border-radius: 10px;
      text-align: center;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
      z-index: 1000;
    }

    .info-box p {
      margin-bottom: 10px;
    }

    .info-box button {
      display: block;
      width: 80%;
      margin: 10px auto;
      padding: 10px;
      border: none;
      background: white;
      color: green;
      cursor: pointer;
      font-size: 1rem;
    }
  </style>
</head>
<body>
  <div class="wrapper">
    <header>
      {% if site.avatar %}
      <a class="image"><img src="{{ site.avatar }}" alt="avatar" /></a>
      {% endif %}

      <h1>{{ site.title }}</h1>

      {% if site.position %}
      <position style="font-size:1.10rem;">{{ site.position }}</position>
      <br>
      {% endif %}
      {% if site.affiliation %}
      <a href="{{ site.affiliation_link }}" rel="noopener"><autocolor>{{ site.affiliation }}</autocolor></a>
      <br>
      {% endif %}
      {% if site.email %}
      <email>{{ site.email }}</email>
      {% endif %}

      <br>
      <br>
      <div class="social-icons">
        {% if site.google_scholar %}
        <a style="margin: 0 5px 0 0" href="{{ site.google_scholar }}">
          <i class="ai ai-google-scholar" style="font-size:1.2rem"></i>
        </a>  
        {% endif %}

        {% if site.cv_link %}
        <a style="margin: 0 5px 0 0" href="{{ site.cv_link }}">
          <i class="ai ai-cv" style="font-size:1.3rem;"></i>
        </a>
        {% endif %}

        {% if site.github_link %}
        <a style="margin: 0 5px 0 0" href="{{ site.github_link }}">
          <i class="fab fa-github"></i>
        </a>
        {% endif %}

        {% if site.linkedin %}
        <a style="margin: 0 5px 0 0" href="{{ site.linkedin }}">
          <i class="fab fa-linkedin"></i>
        </a>
        {% endif %}

        {% if site.twitter %}
        <a style="margin: 0 0 0 0" href="{{ site.twitter }}">
          <i class="fab fa-twitter"></i>
        </a>
        {% endif %}
      </div>
      <br>

    </header>
    <section>
      {{ content }}
      <br>
    </section>
    <footer>
    </footer>
  </div>

  <!-- Info Box and Overlay -->
  <div class="info-box-overlay" id="info-box-overlay"></div>

  <div class="info-box" id="info-box">
    <p id="question">Let's correlate the observer and observed</p>
    <button id="professional-button" onmouseover="changeQuestion('Who am I being observed by?')" onmouseout="resetQuestion()" onclick="window.location.href='{{ site.baseurl }}/page2.html'">Professional / Academic</button>
    <button id="artistic-button" onmouseover="changeQuestion('What lens am I being perceived in?')" onmouseout="resetQuestion()" onclick="window.location.href='{{ site.baseurl }}/page2_artistic.html'"> ∑creative </button>
    <button id="friend-button" onmouseover="changeQuestion('Who are you looking for?')" onmouseout="resetQuestion()" onclick="window.location.href='{{ site.baseurl }}/page2_friend.html'">Atemporal friend</button>
<button id="enemy-button" onmouseover="changeQuestion('Who\'s askin\'?')" onmouseout="resetQuestion()" onclick="window.close()">Prospective enemy</button>
    <button id="close-button" onclick="closeInfoBox()">Close</button>
  </div>

  <div class="sidebar">
    <div id="right-tabs" class="tabs">
      <div class="currentTab">
        <span>Intro</span>
      </div>
      <div class="tab">
        <a href="#" onclick="openInfoBox()">About</a>
      </div>
    </div>
  </div>

  <script>
    function openInfoBox() {
      var infoBox = document.getElementById('info-box');
      var infoBoxOverlay = document.getElementById('info-box-overlay');
      infoBox.style.display = 'block';
      infoBoxOverlay.style.display = 'block';
    }

    function closeInfoBox() {
      var infoBox = document.getElementById('info-box');
      var infoBoxOverlay = document.getElementById('info-box-overlay');
      infoBox.style.display = 'none';
      infoBoxOverlay.style.display = 'none';
    }

    function redirectTo(lens) {
      var links = {
        'professional': 'your_professional_link_here',
        'artistic': 'your_artistic_link_here',
        'friend': 'your_friend_link_here'
      };

      if (lens === 'enemy') {
        window.close();
      } else {
        window.location.href = links[lens];
      }
    }

    function changeQuestion(newQuestion) {
      var questionElement = document.getElementById('question');
      questionElement.textContent = newQuestion;
    }

    function resetQuestion() {
      var questionElement = document.getElementById('question');
      questionElement.textContent = '👁️👃👁️';
    }
  </script>

</body>
</html>

